<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>341692543128-r3kouoshd3i0b5e22lf28bitirpit960.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.341692543128-r3kouoshd3i0b5e22lf28bitirpit960</string>
	<key>API_KEY</key>
	<string>AIzaSyBMpK0q1kLLICW8YiB7WVd7lBV6AvwWXEY</string>
	<key>GCM_SENDER_ID</key>
	<string>341692543128</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.okter</string>
	<key>PROJECT_ID</key>
	<string>okter-7f509</string>
	<key>STORAGE_BUCKET</key>
	<string>okter-7f509.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:341692543128:ios:7c0970150a6fa5ce3460ed</string>
	<key>DATABASE_URL</key>
	<string>https://okter-7f509-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>